# Archivo de ejemplo — copia esto como .env y completa tus valores
DB_USER=postgres
DB_PASSWORD=TU_CONTRASEÑA
DB_HOST=localhost
DB_PORT=5432
DB_NAME=examen_importadora

SECRET_KEY=cambia_esta_clave
FLASK_DEBUG=True
